<% provide(:title, 'Home') %>
<h1>Welcome to Sport$ Salaries</h1>

<h3> What is the impact of huge salaries for professional athletes on society? </h3>


<p> ...Huge contracts for premier athletes are also skewing the expectations of children, particularly in the inner city. A recent survey in Boston found that 66 percent of African-American males in the seventh and eighth grades are sure they will play pro sports. "Kids hear these salaries and they don't want to do a normal job," says Art Taylor, a professor at the Center for the Study of Sport in Society at Northeastern University in Boston. "The effect of these salaries on kids is terrible." According to the <a href= "http://www.csmonitor.com/1998/1113/111398.us.us.3.html">Christian Science Monitor</a>.</p>

<p>A great example of this thinking is demonstrated in this <a href="http://www.teenink.com/opinion/sports_hobbies/article/334898/Have-the-Large-Salaries-Had-a-Negative-Effect-on-Sports/">article</a> in Teen Ink, a magazine and website written for and by teens.  The Author, Garrett24, acknowledges that "I would say that most of the children in America dream of being professional athletes. At least that is true for all the young boys." He goes on to explain that the competition is good because it makes everyone strive to be better.</p>  

<p>We'll use the NBA salaries as a comparison; since basketball teams have only twelve (12) active players at any time the salary competition is even higher than other sports with larger teams.  Check out the salaries of teams and players in recent years.  Compare them to some of the top paying non-sports professional jobs:</p>

<h4>Best Paying Jobs of 2014:(according to <a href="http://www.careercast.com">Career Cast)</a></h4>
<ul>
  <strong><li>Profession:  | Annual Median Salary:</li></strong>
  <li>Surgeon  | $233,150 </li>
  <li>Physician, General Practice | $187,200  </li>
  <li>  Psychiatrist | $178,950  </li>
  <li> Orthodontist  | $149,310  </li>
  <li> Dentist  | $146,340 </li>
  <li>Petroleum Engineer | $130,280 </li>
  <li>Air Traffic Controller | $122,530 </li>
  <li> Pharmacist | $116,670  </li>
  <li> Podiatrist | $116,440 </li>
  <li>  Attorney |  $113 </li>     
</ul>